
  @import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Shadows+Into+Light&family=Shantell+Sans:wght@300&display=swap');
.container{
max-width: 90%;
margin:auto;
padding: 0;
height:100vh;
}
.cab{
    max-width:100%;
    background-color: burlywood;
}
.nav{
    max-width:100%;
    background-color: darkturquoise;
}
.menu{
    font-family: 'Shadows Into Light',cursive;
    background-color: cadetblue;

}
.lee li,a{
    display:inline;
    text-decoration: none;
}
div{
    
}
*{
    padding: 0%;
    margin: 0%;
}